<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置springMVC -->
    <!-- 1：开启springMVC注解模式 -->
    <!-- 简化配置：
         (1)自动注册DefaultAnnotationHandlerMapping，AnnotationMethodHandlerAdapter
         (2)提供一系列：数据绑定，数字和日期的format  @NumberFormat,@DataTimeFormat
        xml,json默认读写支持
     -->
    <mvc:annotation-driven/>

    <!--启用默认Servlet-->
    <mvc:default-servlet-handler/>

    <!-- 文件上传的解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传图片的最大尺寸 10M-->
        <property name="maxUploadSize" value="10485760"/>
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <!-- 2：配置jsp显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 3：扫描mvc相关的bean -->
    <context:component-scan base-package="com.shopping.controller"/>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 配置登陆拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/coupon/**"/>
            <mvc:exclude-mapping path="/luckincoffee/**"/>
            <mvc:exclude-mapping path="/index"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/checkUsername"/>
            <mvc:exclude-mapping path="/user/register"/>
            <mvc:exclude-mapping path="/user/checkLogin"/>
            <mvc:exclude-mapping path="/user/outLogin"/>
            <mvc:exclude-mapping path="/product/singleProductShow"/>
            <bean class="com.shopping.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <!-- 配置登陆拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <bean class="com.shopping.interceptor.AdminInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置json解析器 -->
    <bean id="jsonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

</beans>